In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# options
# reinvigorating the existing machine
# buying new machine

# FREE cash flow = independent of financing

In [4]:
k = 0.11

In [22]:
df_proj_1 = pd.DataFrame({
    "SQ_Repair": [28000, 0, 0, 0, 0, 0],
    "SQ_Maintenance": [0,7000,7000,11000,7000,7000],
    "DeltaLabor": [0,5250,5500,5750,6000,6250],
    "DeltaElectricity": [0,4725,4800,4875,4950,5025],
    "SQ_Depr": [0,6000,6000,6000,6000,6000],
    "NM_Maintenance": [0,2000,3000,4000,5000,6000],
    "NM_Depr": [0,14000,14000,14000,14000,14000]
}, index=[2015,2016,2017,2018,2019,2020])

In [23]:
df_proj_1

,SQ_Repair,SQ_Maintenance,DeltaLabor,DeltaElectricity,SQ_Depr,NM_Maintenance,NM_Depr
2015,28000,0,0,0,0,0,0
2016,0,7000,5250,4725,6000,2000,14000
2017,0,7000,5500,4800,6000,3000,14000
2018,0,11000,5750,4875,6000,4000,14000
2019,0,7000,6000,4950,6000,5000,14000
2020,0,7000,6250,5025,6000,6000,14000

In [24]:
# consider the firm and the bank (creditor) together

In [26]:
inc_capex_2015 = 140000 - 35000 - (35000-35000)*.3
inc_capex_2015

105000.0

In [28]:
# book value is 70000
# you will receive a tax benefit
# book value of old machine 5000

inc_capex_2020 = 60000 - (60000-70000)*.3
inc_capex_2020 = 5000 - inc_capex_2020
inc_capex_2020

-58000.0