In [18]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import scipy.stats as ss
import itertools

### Round 1 Results

L = 5.49  
LMC = 2  
  
H = 8  
HMC = 5  

$$
    Q = \frac{500000}{(P_L + P_H)^3}
$$

In [10]:
# assuming that L can charge between 2 and 9 non-inclusive

L_prices = np.linspace(2.01, 8.99, 700)

In [12]:
# assuming that H can charge between 5 and 11 non-inclusive

H_prices = np.linspace(5.01, 10.99, 700)

In [16]:
def tot_profit(lprice, hprice):
    q = 500000 / (lprice + hprice)**3

    return (lprice-2)*q + (hprice-5)*q

In [17]:
700 * 700

490000

In [24]:
all_comb_prices = list(itertools.product(L_prices, H_prices))

In [25]:
df = pd.DataFrame({"L_prices": [x[0] for x in all_comb_prices], "H_prices": [x[1] for x in all_comb_prices]})

In [27]:
df["tot_profit"] = df.apply(lambda r: tot_profit(r.L_prices, r.H_prices), axis=1)

In [28]:
df.head()

   L_prices  H_prices  tot_profit
0      2.01  5.010000   28.906044
1      2.01  5.018555   41.120199
2      2.01  5.027110   53.245113
3      2.01  5.035665   65.281436
4      2.01  5.044220   77.229813

In [29]:
df.describe()

            L_prices       H_prices     tot_profit
count  490000.000000  490000.000000  490000.000000
mean        5.500000       8.000000    1269.346347
std         2.017835       1.728747     190.449681
min         2.010000       5.010000      28.906044
25%         3.755000       6.505000    1132.885616
50%         5.500000       8.000000    1298.688340
75%         7.245000       9.495000    1436.045035
max         8.990000      10.990000    1511.715797

In [31]:
df.loc[df.tot_profit >= 1511.715797]

        L_prices  H_prices   tot_profit
124799  3.787454  6.712461  1511.715797
128992  3.847368  6.652575  1511.715797
133185  3.907282  6.592690  1511.715797
137378  3.967196  6.532804  1511.715797
141571  4.027110  6.472918  1511.715797
145764  4.087024  6.413033  1511.715797
149957  4.146938  6.353147  1511.715797

In [34]:
# some scenarios

In [37]:
500000 / (6.72 + 3.49)**3

469.7781118935752

In [38]:
(6.72-5) * 469

806.6799999999998

In [39]:
500000 / (7.72 + 4.99)**3

243.5192809174091

In [40]:
(7.72-5) * 243.52

662.3743999999999

In [41]:
500000 / (7.22 + 5.49)**3

243.5192809174091

In [42]:
(7.22-5) * 243.52

540.6143999999999